body {
  font-family: "Rounded-X M+ 1c";
  font-size: 20px;
}

.container {
  margin: 30px auto;
  max-width: 60%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
}

.menu li a {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 10px 10px 0 0;
}

.menu li a.active {
  background: royalblue;
  color: #fff;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active {
  background: royalblue;
  color: #fff;
  min-height: 150px;
  display: block;
}

.content {
  display: none;
}

p {
  color: aliceblue;
  margin: 0;
  line-height: 2;
  text-align: center;
  background-color: royalblue;
}

h1 {
  cursor: pointer;
  max-width: 80%;
  color: black;
  padding: 0.2em 0.5em;
  margin: 2em auto;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px tomato;
  border-radius: 8px;
  text-align: center;
}

.foo {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

#close {
  cursor: pointer;
  background: #fff;
  width: 200px;
  border: 3px solid #ffc3c3;
  border-radius: 8px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 60px;
}

#mask {
  background: rgb(242, 255, 60);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  border-radius: 8px;
  padding: 30px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition:  0.5s;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -2000px);
}

h1:hover {
  color: #fff;
  font-size: 42px;
  transition:  0.3s;
  background-color: palevioletred;
  box-shadow: 0px 0px 0px 10px white;
}

#close:hover {
  background: rgb(224, 224, 224);
  font-size: 22px;
}

.baz,
.bar {
  margin: 10px auto;
  padding: 10px 0;
  width: 250px;
  text-align: center;
  font-size: 25px;
  border: 2px dotted skyblue;
  border-radius: 10px;
}

.baz,
.bar,
a {
  color: #333;
  text-decoration: none;
}

.button:hover {
  color: #59b1eb;
  font-size: 28px;
  transition: all 0.3s;
}
