body {
  margin: 0;
  padding: 0;
  font-family: "Rounded-X M+ 1c";
  background-color: rgb(230, 252, 255);
}

img {
  width: 350px;
  border-radius: 8px;
}

h1 {
  color: #333;
  text-shadow: 3px 3px 5px red;
  text-align: center;
  border: 3px dotted palevioletred;
  border-radius: 8px;
  background: pink;
}

.foo {
  display: flex;
  justify-content: space-around;
}

p {
  color: coral;
  text-shadow: 2px 2px 4px skyblue;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
}

a,
.button {
  border: 3px double orange;
  background: white;
  padding: 3px;
  border-radius: 10px;
  color: coral;
  font-size: 25px;
  text-decoration: none;
}

.button:hover {
  color: blue;
  background: greenyellow;
  text-shadow: 3px 3px 5px plum;
  transition: all 0.3s;
}
